* {
  transition: background-color 0.2s, color 0.2s;
}

html {
  height: 100%
}

body {
  font-family: 'montserrat';
  width: 100%;
  margin: 0;
}

h1 {
  padding: 50px;
  margin: 0 auto;
  width: fit-content
}

.dentist-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  font-size: small;
  width: 200px;
  padding: 10px;
  border: 0.5px solid rgb(136, 136, 136);
  border-radius: 10px;
}

button {
  cursor: pointer;
}

.favButton {
  background-color: rgb(204, 204, 204);
  position: inherit;
  margin-bottom: 10px;
  height: 30px;
  /* border: none; */
  border-radius: 5px;
  width: 95%;
}

.favButton:hover {
  background-color: rgb(119, 119, 119);
  transition: background-color 0.2s;
}

a {
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}

a:hover {
  color: rgb(136, 136, 136);
  transition: all 0.2s;
}

.imgDoc {
  width: 100%;
  height: 200px;
  object-fit: cover;

}

.card-grid {
  display: flex;
  gap: 5px;
  width: 90vw;
  padding: 50px;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

.contactTitle {
  width: fit-content;
  padding: 10px;
  margin: 0 auto;
}

.clearFavsButton {
  font-size: medium;
  /* border: none; */
  background-color: rgb(204, 204, 204);
  border-radius: 5px;
  padding: 5px;
  margin-left: 50vw;
  transform: translateX(-50%);
}

.clearFavsButton:hover {
  background-color: rgb(119, 119, 119);
  transition: background-color 0.2s;
}

html.light-theme {
  background-color: white;
  color: black;
  height: fit-content
}

html.dark-theme {
  background-color: rgb(20, 20, 20);
  color: white;
  min-height: fit-content;
}

nav {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;

  font-size: large;
  padding: 15px 0;
  width: 100%;
}

nav button {
  border-radius: 5px;
  padding: 5px 10px;
}

.dark-theme nav {
  background-color: rgb(10, 10, 10);
}

.light-theme nav {
  background: rgb(201, 201, 201);
}

.dark-theme a {
  color: white;
}